body{
    background-color: black;
}
.image{
    border: 5px solid white;
    height:300px;
    width: 700px;
    margin-left: 25%;
    margin-top: 10%;

}
img{
    width: 100% ;
    height: 100%;
}
.text{
    color: white;
    text-align: center;
    
}
h1{
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 400;
    text-align: center;
}



